<a href="https://colab.research.google.com/github/LeandroCoelhos/BeeData/blob/main/life_expectancy_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Leandro Coelho <br>
27/05/2023 <br>

<b> BeeData - Life Expectancy </b>

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

import time
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/LeandroCoelhos/BeeData/main/02.life_expectancy/Life%20Expectancy%20Data.csv')
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

# Entendendo os dados:

Hepatitis B, Measles (Sarampo), Polio (poliomelite), Diphtheria (tétano): refere a cobertura de vacinação entre crianças de 1 ano

HIV/AIDS: Incidentes de HIV/1.000 hab. de 15 a 49 anos

thiness: magreza (desnutrição?)

alcohol: Consumo de álcool que é registrado em litros de álcool puro per capita, pessoas 15+ de idade

Schooling: anos de escolaridade média

BMI: IMC

GDP: PIB em milhões de $

In [ ]:
#remove espaços no começo e fim do nome
df = df.rename(columns=lambda x: x.strip())
df = df.rename(columns=lambda x: x.replace(' ', '_').lower())
df = df.rename(columns=lambda x: x.replace('-', '_').lower())
df.columns

Index(['country', 'year', 'status', 'life_expectancy', 'adult_mortality',
       'infant_deaths', 'alcohol', 'percentage_expenditure', 'hepatitis_b',
       'measles', 'bmi', 'under_five_deaths', 'polio', 'total_expenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness__1_19_years',
       'thinness_5_9_years', 'income_composition_of_resources', 'schooling'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2938 non-null   object
 1   year                             2938 non-null   int64
 2   status                           2938 non-null   object
 3   life_expectancy                  2928 non-null   float64
 4   adult_mortality                  2928 non-null   float64
 5   infant_deaths                    2938 non-null   int64
 6   alcohol                          2744 non-null   float64
 7   percentage_expenditure           2938 non-null   float64
 8   hepatitis_b                      2385 non-null   float64
 9   measles                          2938 non-null   int64
 10  bmi                              2904 non-null   float64
 11  under_five_deaths                2938 non-null   int64
 12  polio                            2919 non-null   float64
 13  total_expenditure                2712 non-null   float64
 14  diphtheria                       2919 non-null   float64
 15  hiv/aids                         2938 non-null   float64
 16  gdp                              2490 non-null   float64
 17  population                       2286 non-null   float64
 18  thinness__1_19_years             2904 non-null   float64
 19  thinness_5_9_years               2904 non-null   float64
 20  income_composition_of_resources  2771 non-null   float64
 21  schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [ ]:
df = df.dropna(subset='life_expectancy').reset_index(drop=True)
df

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under_five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1_19_years,thinness_5_9_years,income_composition_of_resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2924,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2925,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2926,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2927,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

# Separando em Treino e Teste

In [ ]:
# convenção ser 20% teste
df_train, df_test = train_test_split(df, test_size=0.25, random_state=42)
df_train.shape, df_test.shape

((2196, 22), (732, 22))

# EDA

In [ ]:
col_data = df.columns

for i in col_data:
  print("Coluna: ",i)
  print(df[i].value_counts(dropna=False), "\n")

Coluna:  country
Afghanistan    16
New Zealand    16
Niger          16
Nigeria        16
Norway         16
               ..
Ghana          16
Greece         16
Grenada        16
Guatemala      16
Zimbabwe       16
Name: country, Length: 183, dtype: int64

Coluna:  year
2015    183
2014    183
2013    183
2012    183
2011    183
2010    183
2009    183
2008    183
2007    183
2006    183
2005    183
2004    183
2003    183
2002    183
2001    183
2000    183
Name: year, dtype: int64

Coluna:  status
Developing    2416
Developed      512
Name: status, dtype: int64

Coluna:  life_expectancy
73.0    45
75.0    33
78.0    31
73.6    28
73.9    25
        ..
43.1     1
49.5     1
49.0     1
55.1     1
45.4     1
Name: life_expectancy, Length: 362, dtype: int64

Coluna:  adult_mortality
12.0     34
14.0     30
16.0     29
11.0     25
138.0    25
         ..
666.0     1
675.0     1
654.0     1
633.0     1
665.0     1
Name: adult_mortality, Length: 425, dtype: int64

Coluna:  infant_deaths
0      838
1      342
2      203
3      175
4       96
      ...
171      1
201      1
215      1
253      1
110      1
Name: infant_deaths, Length: 209, dtype: int64

Coluna:  alcohol
0.01    280
NaN     193
0.03     15
0.04     13
0.02     12
       ...
3.71      1
7.29      1
7.09      1
4.33      1
4.57      1
Name: alcohol, Length: 1077, dtype: int64

Coluna:  percentage_expenditure
0.000000      606
71.279624       1
15.255188       1
21.411235       1
218.571618      1
             ...
443.475063      1
352.232365      1
22.690399       1
183.698078      1
8.717409        1
Name: percentage_expenditure, Length: 2323, dtype: int64

Coluna:  hepatitis_b
NaN     553
99.0    237
98.0    209
96.0    166
97.0    154
       ...
15.0      1
12.0      1
32.0      1
11.0      1
19.0      1
Name: hepatitis_b, Length: 88, dtype: int64

Coluna:  measles
0        973
1        104
2         68
3         44
4         33
        ...
56188      1
44258      1
41144      1
64185      1
1483       1
Name: measles, Length: 958, dtype: int64

Coluna:  bmi
NaN     32
58.5    18
57.0    16
55.8    16
54.2    15
        ..
69.0     1
35.0     1
7.2      1
7.6      1
33.9     1
Name: bmi, Length: 603, dtype: int64

Coluna:  under_five_deaths
0      775
1      361
2      163
4      161
3      129
      ...
330      1
329      1
327      1
326      1
166      1
Name: under_five_deaths, Length: 252, dtype: int64

Coluna:  polio
99.0    373
98.0    254
96.0    205
97.0    205
95.0    180
       ...
24.0      2
39.0      2
17.0      1
23.0      1
33.0      1
Name: polio, Length: 74, dtype: int64

Coluna:  total_expenditure
NaN      226
4.60      15
6.70      12
5.60      11
9.10      10
        ...
8.88       1
3.19       1
12.24      1
12.23      1
3.52       1
Name: total_expenditure, Length: 817, dtype: int64

Coluna:  diphtheria
99.0    347
98.0    253
97.0    205
95.0    200
96.0    199
       ...
16.0      1
56.0      1
21.0      1
19.0      1
27.0      1
Name: diphtheria, Length: 82, dtype: int64

Coluna:  hiv/aids
0.1     1771
0.2      124
0.3      115
0.4       69
0.5       42
        ...
29.8       1
31.2       1
32.5       1
33.8       1
43.5       1
Name: hiv/aids, Length: 200, dtype: int64

Coluna:  gdp
NaN            443
584.259210       1
292.559620       1
43.646498        1
416.148380       1
              ...
4429.657500      1
4274.376857      1
4142.869175      1
3725.632210      1
547.358878       1
Name: gdp, Length: 2486, dtype: int64

Coluna:  population
NaN           644
444.0           4
718239.0        2
1141.0          2
127445.0        2
             ...
4136.0          1
482.0           1
43.0            1
3978.0          1
12222251.0      1
Name: population, Length: 2278, dtype: int64

Coluna:  thinness__1_19_years
1.0     74
1.9     65
0.8     64
0.7     63
1.2     62
        ..
16.7     1
16.9     1
17.0     1
17.1     1
15.8     1
Name: thinness__1_19_years, Length: 201, dtype: int64

Coluna:  thinness_5_9_years
0.9     69
1.1     67
0.5     63
1.9     63
1.0     62
        ..
17.2     1
17.4     1
17.6     1
12.5     1
28.1     1
Name: thinness_5_9_years, Length: 208, dtype: int64

Coluna:  income_composition_of_resources
NaN      160
0.000    130
0.700     17
0.739     13
0.714     12
        ...
0.933      1
0.930      1
0.925      1
0.347      1
0.460      1
Name: income_composition_of_resources, Length: 626, dtype: int64

Coluna:  schooling
NaN     160
12.9     58
13.3     52
12.5     49
12.8     46
       ...
20.7      1
3.4       1
3.6       1
19.8      1
2.8       1
Name: schooling, Length: 174, dtype: int64

In [ ]:
{}